/* Общие стили */
body {
    margin: 0;
    padding: 0;
}

.mar {
    margin: 0;
}

/* Навигационное меню */
.navbar {
    background: linear-gradient(to top, #003366, #0099cc);
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

/* Контент */
.content {
    margin-top: 20px; /* Добавьте этот класс к вашему блоку контента, чтобы установить верхний отступ */
}

/* Стили для таблицы задания */
.tsk {/* Ширина таблицы не превышает половины ширины сайта */
    width: 100%;
    border-collapse: collapse; /* Объединение границ ячеек */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif; /* Шрифт Times New Roman */
}

.tsk th, .tsk td {
    margin: 15px 15px 15px 15px
    border: 1px solid #ddd; /* Граница для ячеек */
    padding: 8px; /* Отступ внутри ячейки */
}

.tsk th {
    font-size: 28px; /* Увеличим размер заголовка */
    color: #333; /* Цвет текста заголовка */
    background-color: #f0f0f0; /* Цвет фона заголовка */
    border-bottom: 2px solid #ddd; /* Добавим нижнюю границу для заголовка */
}

.tsk td {
    font-size: 24px; /* Увеличим размер текста */
    color: #555; /* Изменяем цвет текста */
}

.tsk td:first-child {
    font-weight: bold; /* Жирный текст для первой ячейки в каждой строке */
}


