{% extends 'main/base.html' %}
{% load user_extras %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <input name="name" type="text" placeholder="Введите имя:">
    <button type="submit">Поиск</button>
</form>
<table class="tsk">
    <tr>
        <th>Имя</th>
        <th>Должность</th>
        <th>Пол</th>
        <th>Дата рождения</th>
        <th>Стаж работы</th>
        <th>Кабинет</th>
        <th></th>
    </tr>
{% for empl in empl %}
    <tr>
        <td>{{ empl.name }}</td>
        <td>{{ empl.get_position_display }}</td>
        <td>{{ empl.get_sex_display }}</td>
        <td>{{ empl.birth_day }}</td>
        <td>{{ empl.experience }} {{ empl.experience|ru_plural:"год,года,лет" }}</td>
        <td>{{ empl.Class_teacher }}</td>
        <td>{% if user_role != 'student' %}
            <a class="btn btn-primary" href="{% url 'editEmpl' empl.id %}">Изменить</a>
    <a class="btn btn-primary" href="{% url 'deleteEmpl' empl.id %}">Удалить</a>
        {% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% if user_role != 'student' %}
<a class="btn btn-primary" href="{% url 'addempl'%}">Добавить</a>
{% endif %}
{% endblock %}