{% extends 'main/base.html' %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <input name="name" type="text" placeholder="Введите имя:">
    <button type="submit">Поиск</button>
</form>
{% for student in student %}

    <div class="tsk">
        <h3>{{ student.name}}</h3>
        <p>Класс: {{student.get_class_name_display}}</p>
        <a class="btn btn-primary" href="{% url 'editstud' student.id %}">Изменить</a>
        <a class="btn btn-primary" href="{% url 'deletestud' student.id %}">Удалить</a>
    </div>

    {% endfor %}
<a class="btn btn-primary" href="{% url 'addstud'%}">Добавить</a>
{% endblock %}