{% extends 'main/new_base.html' %}
{% load static %}
{% block content %}
<h1>Вход в систему</h1>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <select id="role" name="role">
            <option value="director">Директор</option>
            <option value="teacher">Учитель</option>
            <option value="student">Ученик</option>
        </select>
        <button type="submit" class="btn">Войти</button>
    </form>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
{% endblock %}